*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container {
    width: 85%;
    margin: 0px auto;
}
#header {
    margin-bottom: 60px;
    background-color: #FFF8F3;
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
    padding-top: 20px;
    margin-bottom: 20px;
}
.nav-p h1 {
    font-size: 45px;
    font-weight: 900;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-right: 10px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
}
.btn {
    background-color: #FD6E0A;
    padding: 10px 20px;
    color: #FFF8F3;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-p {
    margin: 20px 22px 0px 214px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero-contant h2 {
 color: #474747;
 font-size: 45px;
 font-weight: 800;
}
.hero-contant h1 {
 color: #474747;
 font-size: 85px;
 font-weight: 800;
}
.hero-contant p {
    font-size: 18px;
    line-height: 30px;
    color: #474747;
}
.hero-contant *{
    margin-bottom: 15px;
}
.hero-img img {
    width: 580px;
    vertical-align: middle;
}















/* responsive  */

@media screen and (max-width:1200px) {
    .container {
        width: 85%;
        margin: auto;
    }
    .hero-p {
        flex-wrap: wrap;
        margin: 20px;
        justify-content: center;
    }
    .hero-img img {
        width: 500px;
    }
}
@media screen and (max-width:1024px) {
    .container {
        width: 95%;
    }
}
@media screen and (max-width:690px) {
    .container {
        width: 98%;
    }
    .nav-p h1 {
    font-size: 30px;
    font-weight: 900;
    }
    .btn {
        font-size: 15px;
        padding: 8px 16px;
    }
    ul {
        gap: 10px;
        margin-right: 2px;
    }
    .hero-contant {
        text-align: center;
    }
     .hero-img img {
        width: 100%;
    }
    .hero-contant h1 {
        color: #474747;
        font-size: 50px;
        font-weight: 800;
    }
    .hero-contant p {
        font-size: 15px;
    }
}