*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container {
    width: 85%;
    margin: 0px auto;
}
#header {
    margin-bottom: 60px;
    background-color: #FFF8F3;
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
    padding-top: 20px;
    margin-bottom: 20px;
}
.nav-p h1 {
    font-size: 45px;
    font-weight: 900;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-right: 10px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
}
.btn {
    background-color: #FD6E0A;
    padding: 10px 20px;
    color: #FFF8F3;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-p {
    margin: 20px 22px 0px 214px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero-contant h2 {
 color: #474747;
 font-size: 45px;
 font-weight: 800;
}
.hero-contant h1 {
 color: #474747;
 font-size: 85px;
 font-weight: 800;
}
.hero-contant p {
    font-size: 18px;
    line-height: 30px;
    color: #474747;
}
.hero-contant *{
    margin-bottom: 15px;
}
.hero-img img {
    width: 580px;
    vertical-align: middle;
}

/* about section code hare  */
#about {
    background-color: #FFF8F3;
    margin-bottom: 80px;
    border-radius: 10px;
    padding: 80px;
    text-align: center;
}
.about-heading h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about-heading p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.about-heading *{
    margin-bottom: 15px;
}
.about-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0px 50px;
}
.about-box p {
    line-height: 30px;
    font-size: 20px;
    color: #757575;
}
.about-box {

}
/* what section code hare  */
#what {
    margin-bottom: 80px;
}
.what-p {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.what-box {
    width: 350px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px grey;
    border-radius: 10px;
}
.what-box p {
    color: #757575;
    line-height: 30px;
}
.what-box *{
    margin-bottom: 15px;
}
/* resume section code hare  */
#resume {
    margin-bottom: 80px;
}
.resume-head h2 {
    margin: 60px 0px;
    text-align: center;
}
.resume-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.resume-box h2 {
    margin-bottom: 20px;
}

/* foter section code hare  */

#foter {
    background-color: #FFF8F3;
    padding: 100px;
}
.foter-p {
    display: flex;
    justify-content: space-between;
}
.foter-contant p {
    margin: 15px 0px;
    width: 700px;
    color: #474747;
}
.icon img {
    gap: 30px;
    padding: 10px;
}
.input form h2 {
    margin: 15px 0px;
}
.input form input, textarea {
    width: 450px;
    padding: 15px 10px;
    margin-bottom: 20px;
    border: none;
}
















/* responsive  */

@media screen and (max-width:1200px) {
    .container {
        width: 85%;
        margin: auto;
    }
    .what-p {
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-p {
        flex-wrap: wrap;
        margin: 20px;
        justify-content: center;
    }
    .hero-img img {
        width: 500px;
    }
    .foter-p {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #foter  {
        padding: 60px;
    }
    .foter-contant p {
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    .container {
        width: 95%;
    }
}
@media screen and (max-width:690px) {
    .container {
        width: 98%;
    }
    .nav-p h1 {
    font-size: 30px;
    font-weight: 900;
    }
    .btn {
        font-size: 15px;
        padding: 8px 16px;
    }
    ul {
        gap: 10px;
        margin-right: 2px;
    }
    .hero-contant {
        text-align: center;
    }
     .hero-img img {
        width: 100%;
    }
    .hero-contant {
        margin-top: 60px;
    }
    .hero-contant h1 {
        color: #474747;
        font-size: 50px;
        font-weight: 800;
    }
    .hero-contant p {
        font-size: 15px;
    }
    #about {
        padding: 20px;
    }
    .about-p {
        flex-direction: column;
        margin-top: 40px;
    }
    .what-p {
        flex-direction: column;
    }
    .what-box {
        text-align: center;
        width:98%;
    }
    .resume-p {
        flex-direction: column;
        justify-content: center;
    }
    .resume-box {
        text-align: center;
    }
    .input form input, textarea{
        width: 320px;
    }
}